.container{
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

.header{
  font-size: 2rem;
  text-transform: uppercase;
}

.header:hover{
  cursor: pointer;
}

.logout{
  margin: auto 0 auto auto;
  color: darkblue;
}

.logout:hover{
  cursor: pointer;
}

.new-event{
  margin: auto 0 auto auto;
}

