<form class="form" [formGroup]="editEventForm" (submit)="updateEvent()">
  <mat-form-field appearance="outline">
    <mat-label>Nazwa wydarzenia</mat-label>
    <input formControlName="name" matInput placeholder="Placeholder" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Typ wydarzenia</mat-label>
    <mat-select required formControlName="type">
      <mat-option value="Piknik">Piknik</mat-option>
      <mat-option value="Koncert">Koncert</mat-option>
      <mat-option value="Wystawa">Wystawa</mat-option>
      <mat-option value="Targi">Targi</mat-option>
      <mat-option value="Zawody">Zawody</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Data wydarzenia</mat-label>
    <input type="date" formControlName="date" matInput placeholder="Placeholder" required>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Opis wydarzenia</mat-label>
    <textarea formControlName="description" matInput placeholder="Placeholder" required rows="5"></textarea>
  </mat-form-field>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Anuluj</button>
    <button mat-button type="submit" matDialogClose="true">Zapisz</button>
  </mat-dialog-actions>

</form>


